<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style/style.css">
	<title>Raiffeisen-bank</title>
</head>
<body>
	<header>
		<img src="#" alt="" class="header__logo">
		<img src="#" alt="" class="header__visa">
		<div class="header__info">
			<p class="header__info__phone">8 800 770-75-62</p>
			<p class="header__info__text">Бесплатно по России</p>
		</div>
	</header>

	<section class="banner">
		<p class="banner__badge">
			Бесплатное обслуживание
		</p>
		<h1 class="banner__title">
			Кредитная карта с кэшбэком	
			<br>
			<span>1,5%</span>
		</h1>
		<button class="main__button">
			Оформить онлайн
		</button>
	</section>
	<section class="benefits">
		<p class="benefits__item">1,5 %</p>
		<p class="benefits__item">0 &#8399;</p>
		<p class="benefits__item">до 52 дней</p>
		<p class="benefits__item">до 600 тыс. &#8399;</p>
		<hr>
		<div class="benefits__title">Кэшбэк 1,5% без ограничений</div>
		<div class="benefits__card__group">
			<div class="benefits__card">
				<p class="benefits__card__text">Кэшбэк рублями</p>
				<img src="#" alt="" class="benefits__card__img">
			</div>
			<div class="benefits__card">
				<p class="benefits__card__text">За любые покупки</p>
				<img src="#" alt="" class="benefits__card__img">
			</div>
			<div class="benefits__card">
				<p class="benefits__card__text">Без лимитов и ограничений</p>
				<img src="#" alt="" class="benefits__card__img">
			</div>
		</div>
	</section>
	<section class="calculator__wrapper">
		<h2 class="calculator__title">Возьмите дополнительный кредит</h2>
		<div class="calculator">
			<div class="calculator__switch">
				
			</div>
			<div class="calculator__result">
				
			</div>
		</div>
	</section>
	<footer >
		
	</footer>
</body>
</html>